.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(175, 243, 243);
}

.logo img {
    height: 50px;
    width: auto;
}
.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 15px;
}

.active {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.nav-buttons button {
    margin-left: 10px;
}

.login {
    background-color: orange;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer
}

.sign-up {
    background-color: lightgray;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}